body {
    padding-top: 50px;
}

/**********************************************************************************************************************/

.company-logo-top {
    height: 50px !important;
}

.company-logo-bottom {
    height: 36px !important;
    width: auto !important;
}

.bg-primary small {
    color: #CCCCCC;
}

.bg-primary a {
    color: #FFFFFF;
}

.bg-primary a:hover {
    color: #CCCCCC;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0 20px 40px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #ffffff;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}

/* Tighten up space between multiple callouts */
.bs-callout + .bs-callout {
    margin-top: -5px;
}

/* Variations */
.bs-callout-danger {
    border-left-color: #ce4844;
}
.bs-callout-danger h4 {
    color: #ce4844;
}
.bs-callout-warning {
    border-left-color: #aa6708;
}
.bs-callout-warning h4 {
    color: #aa6708;
}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout-info h4 {
    color: #1b809e;
}

/**********************************************************************************************************************/

footer .text-footer-right {
    text-align: right;
}

@media (max-width: 767px) {
    footer .text-footer-right {
        text-align: left;
    }
}

/**********************************************************************************************************************/

textarea {
    resize: none;
}

/**********************************************************************************************************************/

.text-justify {
    text-align: justify;
}

/**********************************************************************************************************************/

.maze-buttons {
    display: table;
    margin-left: auto;
    margin-right: auto;

}

.panel-list-striped > div:nth-of-type(even) {
    background-color: #f0f0f0 !important;
}

/**********************************************************************************************************************/

.score-panel {
    background-color: #D0D0F0;
}

/**********************************************************************************************************************/

.image-players {
    display: block;
    width: 50px;
    height: 50px;
    padding: 1px;
    margin-right: 12px;
}

/**********************************************************************************************************************/

.panel-body-scroll {
    max-height: 300px;
    overflow-y: scroll;
}

/**********************************************************************************************************************/

.padding-xs {
    padding: .25em;
}

.padding-sm {
    padding: .5em;
}

.padding-md {
    padding: 1em;
}

.padding-lg {
    padding: 1.5em;
}

.padding-xl {
    padding: 3em;
}

/**********************************************************************************************************************/

.alert {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}