body {
    padding-top: 50px;
}

/**********************************************************************************************************************/

textarea {
    resize: none;
}

/**********************************************************************************************************************/

footer .text-footer-right {
    text-align: right;
}

@media (max-width: 767px) {
    footer .text-footer-right {
        text-align: left;
    }
}

/**********************************************************************************************************************/

.text-justify {
    text-align: justify !important;
}

/**********************************************************************************************************************/

.company-logo-top {
    height: 50px !important;
}

.company-logo-bottom {
    height: 36px !important;
    width: auto !important;
}

/**********************************************************************************************************************/

body.halloween-body {
    background: #111 url("../images/halloween-background.png") no-repeat;
    padding-top: 0;
    color: #ccc;
}

.halloween-body .jumbotron {
    padding-top: 0;
    background-color: transparent;
}

.halloween-body .text-success {
    color: #f5b;
}

.halloween-body .text-danger {
    color: #73b;
}

.halloween-body .btn-primary,
.halloween-body .btn-primary:focus,
.halloween-body .btn-primary.focus,
.halloween-body .btn-primary:active,
.halloween-body .btn-primary.active,
.halloween-body .btn-primary:active:focus,
.halloween-body .btn-primary.active:focus,
.halloween-body .btn-primary:active.focus,
.halloween-body .btn-primary.active.focus {
    color: #fff;
    background-color: #5072fc;
    background-image: none;
    border-color: #5072fc;
}

.halloween-body .btn-primary:hover,
.halloween-body .btn-primary:active:hover,
.halloween-body .btn-primary.active:hover {
    color: #fff;
    background-color: #a5befa;
    background-image: none;
    border-color: #a5befa;
}

.halloween-body .btn-warning,
.halloween-body .btn-warning:focus,
.halloween-body .btn-warning.focus,
.halloween-body .btn-warning:active,
.halloween-body .btn-warning.active,
.halloween-body .btn-warning:active:focus,
.halloween-body .btn-warning.active:focus,
.halloween-body .btn-warning:active.focus,
.halloween-body .btn-warning.active.focus {
    color: #fff;
    background-color: #ec008c;
    background-image: none;
    border-color: #ec008c;
}

.halloween-body .btn-warning:hover,
.halloween-body .btn-warning:active:hover,
.halloween-body .btn-warning.active:hover {
    color: #fff;
    background-color: #ffa9b2;
    background-image: none;
    border-color: #ffa9b2;
}

.halloween-body .btn-success,
.halloween-body .btn-success:focus,
.halloween-body .btn-success.focus,
.halloween-body .btn-success:active,
.halloween-body .btn-success.active,
.halloween-body .btn-success:active:focus,
.halloween-body .btn-success.active:focus,
.halloween-body .btn-success:active.focus,
.halloween-body .btn-success.active.focus {
    color: #fff;
    background-color: #39e8d5;
    background-image: none;
    border-color: #39e8d5;
}

.halloween-body .btn-success:hover,
.halloween-body .btn-success:active:hover,
.halloween-body .btn-success.active:hover {
    color: #000;
    background-color: #aefff3;
    background-image: none;
    border-color: #aefff3;
}

/**********************************************************************************************************************/

.score-panel {
    background-color: #D0D0F0;
}

.score-player-img {
    display: block;
    width: 50px;
    height: 50px;
    padding: 1px;
    margin-right: 12px;
}

/**********************************************************************************************************************/

.maze-buttons {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

/**********************************************************************************************************************/

.alert {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

/**********************************************************************************************************************/

.panel-body-scroll {
    max-height: 300px;
    overflow-y: scroll;
}

/**********************************************************************************************************************/

.panel-list-striped > div:nth-of-type(even) {
    background-color: #f0f0f0 !important;
}

/**********************************************************************************************************************/

.padding-xs {
    padding: .25em;
}

.padding-sm {
    padding: .5em;
}

.padding-md {
    padding: 1em;
}

.padding-lg {
    padding: 1.5em;
}

.padding-xl {
    padding: 3em;
}

/**********************************************************************************************************************/

.bg-primary small {
    color: #CCCCCC;
}

.bg-primary a {
    color: #FFFFFF;
}

.bg-primary a:hover {
    color: #CCCCCC;
}

/**********************************************************************************************************************/

.bs-callout {
    padding: 20px;
    margin: 20px 0 20px 40px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #ffffff;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

/* Tighten up space between multiple callouts */
.bs-callout + .bs-callout {
    margin-top: -5px;
}

/* Variations */
.bs-callout-danger {
    border-left-color: #ce4844;
}

.bs-callout-danger h4 {
    color: #ce4844;
}

.bs-callout-warning {
    border-left-color: #aa6708;
}

.bs-callout-warning h4 {
    color: #aa6708;
}

.bs-callout-info {
    border-left-color: #1b809e;
}

.bs-callout-info h4 {
    color: #1b809e;
}

/**********************************************************************************************************************/
