/**********************************************************************************************************************/

.x-maze.x-maze-halloween {
    background: #000000 url("../images/halloween-ground.png") repeat;
}

.x-maze.x-maze-halloween td {
    width: 45px;
    height: 45px;
}

/**********************************************************************************************************************/

.x-halloween-wall0 {
    background: transparent url("../images/halloween-wall-rocks3.png") no-repeat;
    background-size: 100%;
}

.x-halloween-wall1 {
    background: transparent url("../images/halloween-wall-tree1.png") no-repeat;
    background-size: 100%;
}

.x-halloween-wall2 {
    background: transparent url("../images/halloween-wall-tree2.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-halloween-player1-right {
    background: transparent url("../images/halloween-player-bat-right.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player1-left {
    background: transparent url("../images/halloween-player-bat-left.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player1-up {
    background: transparent url("../images/halloween-player-bat-up.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player1-down {
    background: transparent url("../images/halloween-player-bat-down.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-halloween-player2-right {
    background: transparent url("../images/halloween-player-ghost-right.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player2-left {
    background: transparent url("../images/halloween-player-ghost-left.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player2-up {
    background: transparent url("../images/halloween-player-ghost-up.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player2-down {
    background: transparent url("../images/halloween-player-ghost-down.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-halloween-player3-right {
    background: transparent url("../images/halloween-player-spider-right.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player3-left {
    background: transparent url("../images/halloween-player-spider-left.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player3-up {
    background: transparent url("../images/halloween-player-spider-up.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player3-down {
    background: transparent url("../images/halloween-player-spider-down.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-halloween-player4-right {
    background: transparent url("../images/halloween-player-vampire-right.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player4-left {
    background: transparent url("../images/halloween-player-vampire-left.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player4-up {
    background: transparent url("../images/halloween-player-vampire-up.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player4-down {
    background: transparent url("../images/halloween-player-vampire-down.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-halloween-player5-right {
    background: transparent url("../images/halloween-player-blackcat-right.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player5-left {
    background: transparent url("../images/halloween-player-blackcat-left.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player5-up {
    background: transparent url("../images/halloween-player-blackcat-up.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player5-down {
    background: transparent url("../images/halloween-player-blackcat-down.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-halloween-player6-right {
    background: transparent url("../images/halloween-player-witch-right.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player6-left {
    background: transparent url("../images/halloween-player-witch-left.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player6-up {
    background: transparent url("../images/halloween-player-witch-up.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player6-down {
    background: transparent url("../images/halloween-player-witch-down.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-halloween-player7-right {
    background: transparent url("../images/starship-player07-right.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player7-left {
    background: transparent url("../images/starship-player07-left.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player7-up {
    background: transparent url("../images/starship-player07-up.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player7-down {
    background: transparent url("../images/starship-player07-down.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-halloween-player8-right {
    background: transparent url("../images/starship-player08-right.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player8-left {
    background: transparent url("../images/starship-player08-left.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player8-up {
    background: transparent url("../images/starship-player08-up.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player8-down {
    background: transparent url("../images/starship-player08-down.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-halloween-player9-right {
    background: transparent url("../images/starship-player09-right.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player9-left {
    background: transparent url("../images/starship-player09-left.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player9-up {
    background: transparent url("../images/starship-player09-up.png") no-repeat;
    background-size: 100%;
}

.x-halloween-player9-down {
    background: transparent url("../images/starship-player09-down.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-halloween-player-explosion {
    background: transparent url("../images/starship-explosion.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-halloween-enemy1-neutral {
    background: transparent url("../images/halloween-pumpkin-neutral.png") no-repeat;
    background-size: 100%;
}

.x-halloween-enemy1-regular {
    background: transparent url("../images/halloween-pumpkin-evil.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-halloween-enemy2-neutral {
    background: transparent url("../images/halloween-pumpkin-neutral.png") no-repeat;
    background-size: 100%;
}

.x-halloween-enemy2-regular {
    background: transparent url("../images/halloween-pumpkin-evil.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-halloween-enemy3-neutral {
    background: transparent url("../images/halloween-pumpkin-neutral.png") no-repeat;
    background-size: 100%;
}

.x-halloween-enemy3-regular {
    background: transparent url("../images/halloween-pumpkin-evil.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-halloween-enemy4-neutral {
    background: transparent url("../images/halloween-pumpkin-neutral.png") no-repeat;
    background-size: 100%;
}

.x-halloween-enemy4-regular {
    background: transparent url("../images/halloween-pumpkin-evil.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-halloween-enemy-killed {
    background: transparent url("../images/halloween-pumpkin-smashed.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-halloween-shot-right {
    background: transparent url("../images/starship-shot-right.png") no-repeat;
    background-size: 100%;
}

.x-halloween-shot-left {
    background: transparent url("../images/starship-shot-left.png") no-repeat;
    background-size: 100%;
}

.x-halloween-shot-up {
    background: transparent url("../images/starship-shot-up.png") no-repeat;
    background-size: 100%;
}

.x-halloween-shot-down {
    background: transparent url("../images/starship-shot-down.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/
